/* menu::base */
div#menu {
    height: 31px;
    margin-top: -0px;
    padding-left: 20px;
    background: url(images/right.gif) repeat-x top;
    width:auto;
}
#menustrips {

    width: 80%;
    height:100%;
    padding: 15px;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-right: 24px;
    background: url(images/right.gif) repeat-x;
    _background: url(images/right.gif) repeat-x;   
}

div#menu li {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    z-index: 9;
    width: auto;
}
div#menu ul ul li {
    z-index: 9;
}
div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    z-index: 11;
    top: 30px;
    left: -18px;
    -left: 4px;
    visibility: hidden;
    width: 180px;
    margin: 0px 0 0 -4px;
    padding: 0; 
    background: url(images/selected-sub.png) repeat-x 0px 0;
    -background: url(images/selected-sub.gif) repeat-x 0px 0; 
}
div#menu ul ul {
	  z-index: 12;
	  width: 180px;
    padding: 0px 0px 12px 0px;
    -padding: 0px 0px 3px 0px;    
    background: url(images/submenu-bottom.png) no-repeat 0px bottom;
    -background: #073843 none;        
    margin: 14px 0 0 0;   
    -margin: 5px 0 0 0;      
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 46px;
    display: block;
    float: left;
    line-height: 38px;
    text-decoration: none;
    margin-top: 1px;
    white-space: nowrap;
    width: auto;
    padding-right:5px;
    text-align:center;
}
div#menu span {
    margin-top: 2px;
    padding-left: 15px;
    color: #ffffff;
    font: normal 12px Arial;
    background: none;
    line-height: 30px;	
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
    text-align: center;
}

/*vlad menu realign start*/
div#menu ul.menu2  {
	
    margin-top: 2px;
    margin-right: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffff00;
    font: normal 15px Arial;
    background: none;
    line-height: 30px;	
    display: block;
    cursor: auto;
    background-repeat: no-repeat;
    background-position: 95% 0;
    float: right;
    text-align: right; 
}

.usersep{
	background-image: url(images/menu_separator.png);
	background-witdth: 20px;
	background-repeat: no-repeat;
	background-position: left;
	padding-right: 32px;
	padding-left: 32px;
}
/*vlad menu realign end*/

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 0;
    line-height: 30px;
    height:29px;
    _margin-right: 1px;
    background: none;
    font-weight:bold;    

}
div#menu span {
    font-weight:bold; 
}
div#menu a:hover{
    background-image: url(images/selected-sub.png);
    background-repeat: repeat-x;
    background-position: right -1px;    
    -background: url(images/selected-sub.gif) repeat-x right -1px; 
}
div#menu li.current a,
div#menu ul.menu>li:hover>a {
    background-image: url(images/selected-sub.png);
    background-repeat: repeat-x;
    background-position: right -1px;  
    -background: url(images/selected-sub.gif)  repeat-x right -1px; 
}
div#menu a:hover span{
	  color: #000000;
}	
div#menu ul.menu>li:hover>a span {
	  color: #8cb3d9;
}
div#menu li {}
div#menu li.last { background: none; }


/* menu::level2 */
div#menu ul ul li {
    background-image: url(images/sep-sub.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin: 0;
    padding: 0;
}
div#menu ul ul li:hover {  /*background hover for menu*/
    background-image:;
    background-color:;
    background-repeat: repeat-x;
    background-position: left top;
}
div#menu ul ul a {
	color: #000000;	
    height: auto;
    float: none;
    display: block;
    line-height: 25px;
    font-size: 12px;
    z-index: -1;
    padding: 6px 0 6px 0px;
    white-space: normal;
    width: 166px;
    margin: 0 0px 0 13px;
    background: none;
}
    
div#menu ul ul a span {
    color: #fff;	
	padding: 0 3px;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    margin:0;    
}
div#menu li.current ul a,
div#menu li.current ul a span {
    background: none;
}
div#menu ul ul a:hover {
	background: none;
  color: #fff;
}
div#menu ul ul a:hover span {
  background: none;
  color: #8cb3d9;
}
div#menu ul ul a.parent {
  background: url(images/submenu-pointer.png) no-repeat right top;
  -background: url(images/submenu-pointer.gif) no-repeat right top;  
  margin-right: -1px;
}
div#menu ul ul a.parent span {
  padding-right: 26px;
}
div#menu ul ul a.parent:hover {
  background: url(images/submenu-pointer-hover.gif) no-repeat right top;
  -background: url(images/submenu-pointer.gif) no-repeat right top;  
}
div#menu ul ul a.parent:hover span {
}
div#menu ul ul span {
	
    margin-top: 0;
    text-align: left;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */

div#menu ul ul div {
	  width: 180px;
	  padding: 0;
    background: url(images/subsubmenu-top.png) no-repeat 0px 0;
    -background: url(images/subsubmenu-top.gif) no-repeat 0px 0; 	  
    margin: -32px 0 0 198px !important;
    margin: -32px 0 0 176px;
}
div#menu ul ul ul {
    padding: 11px 0px 9px 0px;	
    margin: 20px 0 0 0; 
}
div#menu ul ul div li {
    position:relative;
    top:-10px;
}

/* lava lamp */
div#menu li.back {
    background: url(images/selected-sub.png) no-repeat 0 0;
    -background: url(images/selected-sub.gif) no-repeat 0 0;    
    width: 5px;
    height: 30px;
    z-index: 8;
    position: absolute;
    padding: 0;
    margin: 0px 0 0 0;
}


div#menu li.back .left {
    padding:0;
    width:auto;
    background: url(images/selected-sub.png) repeat-x top 0;
    -background: url(images/selected-sub.gif) repeat-x right 0;     
    height: 30px;
    margin: 0 0 0 5px;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
}

-top: -1000px;
}
#copyright {
	margin-top:-1500px;

}
#tablecreation{
	background-color: red;
}
